{%  extends '../../../templates/base.html' %}

{% block title %}Bookmark List{%  endblock %}

{%  block content %}
<a href="{%  url 'bookmark:add' %}">aAdd Bookmark</a>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>URL</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for bookmark in bookmark_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'bookmark:detail' pk=bookmark.pk %}">{{ bookmark.name }}</a></td>
            <td><a href="{{ bookmark.url }}">{{ bookmark.url }}</a></td>
            <td><a href="{% url 'bookmark:edit' pk=bookmark.pk %}">Edit</a></td>
            <td><a href="{% url 'bookmark:delete' pk=bookmark.pk %}">Delete</a></td>
        </tr>
    {%  endfor %}
    </tbody>
</table>
{%  endblock %}